html{
  font-family: 'Mukta Malar', sans-serif;
  height: 100vh;
}
body{
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.number-font{
  font-family: 'Roboto Mono', monospace;
}
.cntr{
  flex: 1;
}
.header{

}
.pride-line{
  width: 100%;
  height: 8px;
  background-image: -ms-linear-gradient(left, rgba(5,47,255,1) 0%, rgba(69,23,255,1) 12.5%, rgba(92,51,204,1) 25%, rgba(141,13,253,1) 37.5%, rgba(202,2,242,1) 50%, rgba(247,15,255,1) 62.5%, rgba(255,8,164,1) 75%, rgba(255,3,112,1) 87.5%, rgba(255,0,0,1) 100%);
  background-image: -moz-linear-gradient(left, rgba(5,47,255,1) 0%, rgba(69,23,255,1) 12.5%, rgba(92,51,204,1) 25%, rgba(141,13,253,1) 37.5%, rgba(202,2,242,1) 50%, rgba(247,15,255,1) 62.5%, rgba(255,8,164,1) 75%, rgba(255,3,112,1) 87.5%, rgba(255,0,0,1) 100%);
  background-image: -o-linear-gradient(left, rgba(5,47,255,1) 0%, rgba(69,23,255,1) 12.5%, rgba(92,51,204,1) 25%, rgba(141,13,253,1) 37.5%, rgba(202,2,242,1) 50%, rgba(247,15,255,1) 62.5%, rgba(255,8,164,1) 75%, rgba(255,3,112,1) 87.5%, rgba(255,0,0,1) 100%);
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(5,47,255,1)), color-stop(12.5, rgba(69,23,255,1)), color-stop(25, rgba(92,51,204,1)), color-stop(37.5, rgba(141,13,253,1)), color-stop(50, rgba(202,2,242,1)), color-stop(62.5, rgba(247,15,255,1)), color-stop(75, rgba(255,8,164,1)), color-stop(87.5, rgba(255,3,112,1)), color-stop(100, rgba(255,0,0,1)));
  background-image: -webkit-linear-gradient(left, rgba(5,47,255,1) 0%, rgba(69,23,255,1) 12.5%, rgba(92,51,204,1) 25%, rgba(141,13,253,1) 37.5%, rgba(202,2,242,1) 50%, rgba(247,15,255,1) 62.5%, rgba(255,8,164,1) 75%, rgba(255,3,112,1) 87.5%, rgba(255,0,0,1) 100%);
  background-image: linear-gradient(to right, rgba(5,47,255,1) 0%, rgba(69,23,255,1) 12.5%, rgba(92,51,204,1) 25%, rgba(141,13,253,1) 37.5%, rgba(202,2,242,1) 50%, rgba(247,15,255,1) 62.5%, rgba(255,8,164,1) 75%, rgba(255,3,112,1) 87.5%, rgba(255,0,0,1) 100%);
}
.logo-cntr{
  float: left;
  width: 50%;
  background-color: #999999;
  -webkit-box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow:    0px 5px 0px 0px rgba(0, 0, 0, 0.5);
  box-shadow:         0px 5px 0px 0px rgba(0, 0, 0, 0.5);
}
.logo-cntr-inner{
  padding: 5px;
  padding-left: 30px;
  font-size: 30px;
  color: #ffffff;
  text-shadow: 2px 2px 2px rgba(0, 2, 0, 1);
  height: 50px;
}
.time-cntr{
  float: right;
  width: 50%;
  background-color: #999999;
  -webkit-box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow:    0px 5px 0px 0px rgba(0, 0, 0, 0.5);
  box-shadow:         0px 5px 0px 0px rgba(0, 0, 0, 0.5);
}
.time-cntr-inner{
  text-align: right;
  padding: 5px;
  padding-right: 30px;
  font-size: 30px;
  color: #ffffff;
  text-shadow: 2px 2px 2px rgba(0, 2, 0, 1);
  height: 50px;
}
#ac-time{
  -webkit-animation: fadein 3s;
  -moz-animation: fadein 3s;
  -ms-animation: fadein 3s;
  -o-animation: fadein 3s;
  animation: fadein 3s;
}
  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  @-moz-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }
  @-webkit-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }
  @-ms-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }
  @-o-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }
.main{
  width: 80vw;
  margin: 0 auto;
}
.sw-cntr, .r-cntr{
  width: 26.6vw;
  margin-top: 30px;
  float: left;
}
.sw-cntr{
  margin-left: 2.6vw;
}
.sw-circle{
  margin: 0 auto;
  width: 26vw;
  height: 26vw;
  line-height: 26vw;
  text-align: center;
  background-color: #eaeaea;
  border-radius: 50%;
  border: 4px solid;
  border-color: black;
  transition-property: border-color, background-color;
  transition-duration: 1000ms;

}
.sw-circle:hover{
  border-color: #0033ff;
  background-color: #cecece;
}
.r-cntr{
  border: 2px solid #000000;
  height: 38.8vw;
  width: 24vw;
  float: right;
  overflow: auto;
  margin-top: 10px;
}
.start-btn{
  display:block;
  vertical-align: top;
  line-height: normal;
  margin: 0 auto;
  height: 12vw;
  width: 24vw;
  margin-top: 1vw;
  border: none;
  border-top-left-radius: 26vw;
  border-top-right-radius: 26vw;
  cursor: pointer;
  background-color: #3fff69;
  font-size: 4vw;
  font-weight: 700;
}
.stop-btn{
  display:block;
  vertical-align: top;
  line-height: normal;
  margin: 0 auto;
  height: 12vw;
  width: 24vw;
  margin-top: 1vw;
  border: none;
  border-top-left-radius: 26vw;
  border-top-right-radius: 26vw;
  cursor: pointer;
  background-color: #ff0000;
  font-size: 4vw;
  font-weight: 700;
}
.stopwatch{
  vertical-align: middle;
  line-height: normal;
  font-size: 3vw;
  font-weight: 700;

}
.lap-btn{
  display: block;
  vertical-align: bottom;
  line-height: normal;
  margin: 0 auto;
  margin-top: 1vw;
  height: 2vw;
  width: 20vw;
  border: none;
  border-bottom-left-radius: 2vw;
  border-bottom-right-radius: 2vw;
  font-weight: 700;
  font-size: 1.5vw;
  cursor: pointer;
  background-color: #4286f4;
}
.pause-btn{
  display: block;
  vertical-align: bottom;
  line-height: normal;
  margin: 0 auto;
  margin-top: 0.5vw;
  height: 2vw;
  width: 16vw;
  border: none;
  border-bottom-left-radius: 2vw;
  border-bottom-right-radius: 2vw;
  font-weight: 700;
  font-size: 1.5vw;
  cursor: pointer;
  background-color: #e9ff49;
}
.resume-btn{
  display: block;
  vertical-align: bottom;
  line-height: normal;
  margin: 0 auto;
  margin-top: 0.5vw;
  height: 2vw;
  width: 16vw;
  border: none;
  border-bottom-left-radius: 2vw;
  border-bottom-right-radius: 2vw;
  font-weight: 700;
  font-size: 1.5vw;
  cursor: pointer;
  background-color: #ff8c00;
}
input[type="button"]{
   outline:none;
   text-shadow: 2px 2px 2px rgba(0, 2, 0, 1);
}
input[type="button"]::-moz-focus-inner {
   border: 0;
}
#ac-logo > a{
  text-decoration: none;
  color: #ffffff;
}
#ac-logo > a:visited{
  text-decoration: none;
  color: #ffffff;
}
.footer{
  height: 3vw;
  background-color: red;
}
.r-header{
  border-bottom: 1px solid #000000;
  height: 3vw;
  font-size: 2vw;
  text-align: center;
  background-color: #cecece;
}
.re-cntr{
  border-bottom: 1px solid #000000;
  height: 3vw; 
  text-align: center;
}
#reset-btn{
  height: 2vw;
  margin-top: 0.5vw;
  width: 18vw;
  border: none;
  border-radius: 90px;
  font-size: 1.5vw;
  font-weight: 700;
  color: #ffffff;
  cursor: pointer;
  background-color: #000000;
  transition-duration: 500ms;
  transition-property: -webkit-box-shadow,-moz-box-shadow,box-shadow;
}
#reset-btn:hover{
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,1);
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,1);
}
#list-cntr > li{
  list-style:upper-roman;
  margin-left: 2vw;
}
.shad{
  color: #ffffff;
  transition-property: color,-webkit-box-shadow,-moz-box-shadow,box-shadow;
  transition-duration: 1000ms;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.7);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.7);
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.7);
}
.shad:hover{
  color: #000000;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,1);
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,1);
}
.list-cntr{
  color: #000000;
  text-align: left;
}
.p-list{
  list-style: none;
  font-size: 2vw;
}
.p-list > a{
  color: #000000;
  text-decoration: none;
}
.p-list > a:visited{
  color: #000000;
  text-decoration: none;
}
.p-list > a:hover{
  color: #4286f4;
}

